<section class="timer-screen" id="timer-screen">
  <header class="screen-header">
    <div class="main-container">
      <section id="timer-headings-container">

      </section>
    </div>
  </header>
  <section class="screen-body">
    <section class="timer">
      <section class="timer__iterations" id="timer-iterations-container">

      </section>
    </section>
    <div class="timer__clock in-process" id="timer-clock">

    </div>

    <section class="timer__buttons" id="timer-buttons-container">

    </section>

    <section class="screen-arrows">
      <a href="/task-list" class="screen-arrow screen-arrow--left router-link"></a>
      <a href="#" class="screen-arrow screen-arrow--right"></a>
    </section>
  </section>

</section>
