<section class="screen settings-screen">
    <header class="screen-header">
      <div class="main-container">
        <h2 class="screen-heading">Settings</h2>
        <h3 class="subtitle subtitle--settings">Pomodoros settings</h3>
        <h3 class="subtitle  hidden">Categories list overview</h3>
        <ul class="tabs tabs--right tabs--upper list  tabs--settings">
          <li class="tabs__item"><a href="/settings" class="tabs__btn tabs__btn--current tabs__btn--active router-link">Pomodoros</a></li>
          <li class="tabs__item"><a href='/settings/categories' class="tabs__btn router-link" >Categories</a></li>
        </ul>
      </div>
    </header>
    <section class="screen-body">
      <div class="main-container">
        <section class="categories-settings">
          <ul class="categories-settings__list">
            <li class="categories-settings__list-item circled list">Work</li>
            <li class="categories-settings__list-item circled list">Education</li>
            <li class="categories-settings__list-item circled list">Hobby</li>
            <li class="categories-settings__list-item circled list">Sport</li>
            <li class="categories-settings__list-item circled list">Other</li>
          </ul>
          <a href="/task-list" class="button button--blue pom-settings--button router-link">Go to Tasks</a>
        </section>
      </div>
    </section>
  </section>
