@media screen and (max-width: 767px) {
  .task-card__task-info {
    padding: 23px 0;
  }

  .task-card__goToTimer {
    width: 80px;
    height: 92px;
    margin-left: 14px;
  }

  .task-card__date {
    padding: 0 20px 0 20px;
    min-width: 75px;
  }

  .task-card__task-name {
    font-size: 18px;
  }

  .task-card__task-description {
    font-size: 15px;
  }

  .task-card__delete-indicator {
    width: 68px;
    min-width: 68px;
    height: 92px;
    padding: 0px 35px 0 25px;
    margin-right: 7px;
  }

  .tasc-card__task-description {
    line-height: 18px;
  }

  .task-card__task-name {
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .task-card__goToTimer {
    width: 68px;
    height: 76px;
    margin-left: 10px;

    &::after {
      font-size: 42px;
    }
  }

  .global-list__tabs-wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .task-card__buttons {
    height: 76px;
  }

  .task-card__button {
    margin: 3px 0;
    font-size: 15px;
  }

  .task-card__task-info {
    padding: 15px 0;
  }

  .task-card__estimation-value {
    font-size: 19px;
  }

  .task-card__delete-indicator {
    height: 76px;

    &::after {
      font-size: 31px;
    }
  }

  .task-list--categorized {
    .task-card__delete-indicator {
      width: 59px;
      min-width: 59px;
    }
  }


}

