<section class="screen task-list-screen">
  <header class="screen-header">
    <div class="main-container">
      <h1 class="screen-heading task-list-screen__screen-heading">Daily Task List
        <button class="task-list-screen__add-btn modal-button" data-modal-action="modal-open-add">{{nbn}}</button>

      </h1>
      <div class="today-tasks__tabs-wrapper">
        <ul class="tabs tabs--right list">
          <li class="tabs__item">
            <a href="/task-list" class="tabs__btn tabs__btn--current router-link">To Do</a>
          </li>
          <li class="tabs__item">
            <a href="/task-list/done" class="tabs__btn router-link">Done</a>
          </li>
        </ul>
        <ul class="tabs  tabs--left tabs--remove list">
          <li class="tabs__item">
            <button class="tabs__btn  tabs__btn--current">Select All</button>
          </li>
          <li class="tabs__item">
            <button class="tabs__btn">Deselect all</button>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <section class="screen-body">
    <div class="main-container">

      <section class="message-section message-section--compact hidden">
        <p class="message-section__message message-section__message--done">Excellent,
          <br> all daily tasks done! :)</p>
      </section>

      <section class="today-task">
      </section>

      <div id="global-list-container">

      </div>

    </div>
  </section>
</section>
