{{#ifcompare this.currentStage 0}}
  <a href="/task-list" class="screen-arrow screen-arrow--left router-link"></a>
{{/ifcompare}}
{{#ifcompare this.currentStage 5}}
  <a href="/task-list" class="screen-arrow screen-arrow--left router-link"></a>
{{/ifcompare}}

{{#ifcompare this.currentStage 5}}
  <a href="/reports" class="screen-arrow screen-arrow--right"></a>
{{/ifcompare}}
