{{#unless this.isInProgress}}
  <button class="button button--green timer-btn" data-timer-action="start-task">Start</button>
{{else}}
  {{#if this.isCurrentlyRunning}}
    <button class="button button--red timer-btn" data-timer-action="fail-pom"> Fail Pomodora</button>
    <button class="button button--green timer-btn" data-timer-action="finish-pom">Finish Pomodora</button>
  {{else}}
    <button class="button button--green timer-btn" data-timer-action="start-pom">Start Pomodora</button>
    <button class="button button--blue timer-btn" data-timer-action="finish-task">Finish Task</button>
  {{/if}}
{{/unless}}
