<!--<div class="timer__circle_wrapper">-->
<div class="timer__inner-clock-circle"></div>
<div class="timer__circle-right-part"></div>
<div class="timer__circle-hider"></div>

<!--</div>-->
<p class="timer__clock-text">
  <span class="timer__break-word hidden">Break</span>
  <span class="timer__time-indicator hidden">6</span>
  <span class="timer__min-word hidden">min</span>
  <span class="timer__notification">Break
    <br> is over
  </span>
  <span class="timer__notification hidden">Let's do it</span>
  <span class="timer__notification hidden">You
    <br> Completed
    <br> Task
  </span>
</p>
