<section class="notification notification--success">
  <span class="notification__icon"></span>
  <p class="notification__text">This is just an info notification message!</p>
  <button class="notification__close-btn"></button>
</section> 