<li class="task-card task-card--other task-card--low-priority">
  <section class="task-card__delete-indicator"></section>
  <section class="task-card__date">Today</section>
  <section class="task-card__task-info">
    <h3 class="task-card__task-name">Lorem ipsum sit amet</h3>
    <p class="tasc-card__task-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
  </section>
  <section class="task-card__buttons">
    <section class="task-card__task-adjustsments">
      <button class="task-card__button task-card__button--to-daily hidden"></button>
      <button class="task-card__button task-card__button--edit modal-button" data-modal-action="modal-open-edit"></button>
    </section>
    <a href='/timer' class="task-card__goToTimer link"></a>
  </section>
</li>
