* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  background-color: @madison-col;
  color: @nepal-col;
  font-family: "Roboto";
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 92px;
  .clearfix;
}

.hidden {
  display: none;
}

.screen-header {
  margin-bottom: 20px;
}

.screen-heading {
  font-size: 28px;
  font-weight: 500;
  color:#ffffff;
  text-align: center;
  line-height: 23px;
  margin-bottom: 30px;
}

.subtitle {
  color: @nepal-col;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
}

.subtitle2 {
  margin-bottom: 25px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.list {
  list-style-type: none;
}

.circled {
  position: relative;
  margin-left: 45px;
  &::after {
    position: absolute;
    top: 0;
    left: -(45 - 17px/2);
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: block;
    content: '';
    background-color: #fff;
  }

  &:nth-child(1)::after {
    background-color: @selective-yellow;
  }

  &:nth-child(2)::after {
    background-color: @dark-turquolse;
  }

  &:nth-child(3)::after {
    background-color: @malibu-col;
  }

  &:nth-child(4)::after {
    background-color: @amethyst;
  }
}

// start of buttons 
.button {
  padding: 9px 25px;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans";
  font-weight: bold;
  min-width: 120px;
  border: none;
  background-color: @tomato-col;
  color: #fff;
  cursor: pointer;
}

.button--green {
  background-color: @mountain-meadow-col;

  &:hover,
  &:focus {
    background-color: @mountain-meadow-dark-col; 
  }
  &:active{
    background-color: @deap-sea-col;
  }
}

.button--blue {
  background-color: @malibu-col;
  &:hover,
  &:focus {
    background-color: @curious-blue-col; 
  }
  &:active{
    background-color: @pelorous-col;
  }
  
}

.button--red {
  background-color: @tomato-col;
  &:hover,
  &:focus {
    background-color: @dark-coral-col; 
  }
  &:active{
    background-color: @mahogany-col;
  }
}


// end of buttons



// start of tabs

.tabs {
  font-size: 0;
  text-align: center;
  width: 100%;
}

.tabs--floated {
  float: right;
  width: auto; 
}

.tabs--upper {
  margin-top: -20px;
}

.tabs__item {
  position: relative;
  display: inline-block;
  margin-right: 10px;  
  padding-right: 10px;
  font-size: 16px;
  font-family: 'PT Sans';
  
  &::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 1px;
    height: 13px;
    display: block;
    content: '';
    background-color: @nepal-col;
  }

  &:last-child {
    margin-right: 0;
    padding-right: 0;

    &::after {
      display: none;
    }
  }
}

.tabs__link {
  color: @nepal-col;
  text-decoration: none;
  line-height: 0px;
  &:hover,
  &:focus,
  &:active {
    color: @spray-col;
  }
  }

.tabs__link--current {
  color: #fff;
}

// end of tabs


// start of header 



.header {
  padding: 56px 0 21px;
}

.header__logo {
  float: left;
}


.header__logo-image {
  width: 242px;

}

.header__menu {
  float: right;
  width: auto;
}

.header__menu-list {
  display: flex;
  justify-content: flex-start;
} 

.header__menu-item {
  margin-right: 33px;
  &:last-child {
    margin-right: 0;
  }
}

.header__menu-link {
  display: block;
  width: 20px;
  height: 20px;
  font-family: "Icon";
  text-decoration: none;
  color: @nepal-col;
  
  &:hover,
  &:focus,
  &:active {
    color: @spray-col;
  }

  &::after {
    display: block;
    font-size: 19px;    
  }

  &--add::after {
    content: '\e900';
  }

  &--remove::after {
    content: '\e914';
  }

  &--task-list::after {
    content: '\e90a';
  }

  &--reports::after {
    content: '\e90d';
  }

  &--settings::after {
    content: '\e90c';
  }
}
// end of header

.screen-body {
  margin-bottom: 50px;
}

// start of settings
.pom-settings {
  padding: 63px 0 0;
}
.settings-screen__body {
}

.pom-settings__list {
  margin: 0 auto 81px;
  max-width: 855px;
  flex-wrap: wrap;
  font-size: 0;
  display: flex;
  justify-content: space-between;
}

.pom-settings__item {
  margin-bottom: 61px;
  display: inline-block;
  font-size: 0;
  width: 40%;
  // padding-left: 35px; for circle

  &:nth-child(3) {
    margin-bottom: 0;
  }
  
  &:nth-child(4) {
    margin-bottom: 0;
  }
}

.pom-settings__heading {
  width: 40%;
  margin-right: 42px;
  display: inline-block;
  font-size: 14px;
  color: #fff;
  font-family: 'PT Sans';
}

.pom-settings__input-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 13px;
  width: 100px;
}

.pom-settings__input {
  display: block;
  width: 100%;
  padding: 0 0 7px;
  text-align: center;
  font-size: 16px;
  color: @nepal-col;
  border-bottom: 1px solid @nepal-col;
}

.pom-settings__btn {
  top: 50%;
  transform: translate(0, -50%);
  position: absolute;
  border: none;
  background: none;
  color: @nepal-col;
  font-family: "Roboto";
}

.pom-settings__btn--minus {
  left: 0;
  &::after {
    display: block;
    content: "\e90b";
    font-family: "Icon";
    font-size: 11px;
  }
}

.pom-settings__btn--plus {
  right: 0;
  &::after {
    display: block;
    content: "\e900";
    font-family: "Icon";
    font-size: 11px;
  }
}

.pom-settings__btn:hover {
  color: @spray-col;
  cursor: pointer;
}

.pom-settings__btn:hover ~ .pom-settings__input {
  color: #fff;
  border-color: @spray-col;
}

.pom-settings__instruction {
  font-size: 14px;
}

.pom-settings__highlighted {
  color: #fff;
}



.pom-settings__cycle-preview-img {
  width: 100%;
  margin-bottom: 40px;
}

.pom-settings__buttons {
  font-size: 0;
  text-align: center;
}

.pom-settings--button {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}


// start of categories 
.categories-settings {
  padding-top: 73px;
  text-align: center;
}

.categories-settings__list {
  color: @nepal-col;
  text-align: left;
  width: 295px;
  margin: 0 auto 97px;
}

.categories-settings__list-item {
  padding-bottom: 10px;
  margin-bottom: 34px;
  border-bottom: 1px solid @categories-list-border-col;
  font-size: 16px;
  line-height: 16px;
}

.categories-settings__list-item.circled {
  &:nth-child(1)::after {
    background-color: @selective-yellow;
  }
  &:nth-child(2):after {
    background-color: @malibu-col;
  }
  &:nth-child(3):after {
    background-color: @amethyst;
  }
  &:nth-child(4):after {
    background-color: @terra-cotta;
  }
  &:nth-child(5):after {
    background-color: @dark-turquolse;    
  }
}



// end of categories 



// end of settings


// start of task list 
.task-list {
  margin-bottom: 30px;
  // box-shadow: 0px 2px  10px 0px #222;
  
  

  &--hobby {
    border-color: @amethyst;
  }
  &--work {
    border-color: @selective-yellow;
  }
  &--education {
    border-color: @malibu-col;
  }
  &--sport {
    border-color: @terra-cotta;
  }
  &--other {
    border-color: @dark-turquolse;
  }
}

.task-list-screen__add-btn {
  border: none;
  background: none;
  vertical-align: middle;
  margin-left: 18px;
  cursor: pointer;
  &:after { 
    font-family: "Icon";
    font-weight: 400;
    content: "\e900";
    font-size: 14px;
    color: #fff;
  }
}


.task-card {
  background-color: #fff;
  margin-bottom: 9px;
  border-left: 9px solid red;
  font-size: 0;
  box-shadow: 0px 2px  10px 0px #222;
  .clearfix;


  &--overdue {
    .task-card__date {
      color: @tomato-col;
    }
  }
  &--done {
    .task-card__task-name {
      text-decoration: line-through;
    }
  }
  //categories
  &--hobby {
    border-color: @amethyst;
  }
  &--work {
    border-color: @selective-yellow;
  }
  &--education {
    border-color: @malibu-col;
  }
  &--sport {
    border-color: @terra-cotta;
  }
  &--other {
    border-color: @dark-turquolse;
  }
  //priority
  &--urgent-priority {
    .task-card__task-name{
      color: @urgent-prior-text;
    }
    .task-card__start{
      background-color:  @tomato-col;
      &:hover,
      &:focus,
      &:active {
        background-color: darken( saturate(@tomato-col, 10%), 9%);
      }
    }
  }
  &--high-priority {
    .task-card__task-name{
      color: @high-prior-text;
    }
    .task-card__start{
      background-color: @yellow-orange-col;
      &:hover,
      &:focus,
      &:active {
        background-color: darken( saturate(@yellow-orange-col, 10%), 9%);
      }
    }
  }
  &--middle-priority {
    .task-card__task-name{
      color: @middle-prior-text-col;
    }
    .task-card__start{
      background-color: @gorse;
      &:hover,
      &:focus,
      &:active {
        background-color: #e88b19;
      }
    }
  }
  &--low-priority {
    .task-card__task-name{
      color: @mountain-meadow-col;
    }
    .task-card__start{
      background-color: @mountain-meadow-col;
      &:hover,
      &:focus,
      &:active {
        background-color: darken( saturate(@mountain-meadow-col, 10%), 9%);
      }
    }
  }

}


.task-card__date {
  display: inline-block;
  padding: 0 35px 0 25px;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 700;
  color: @dark-gray-col;
  text-transform: uppercase;
  vertical-align: middle;
  
}

.task-card__task-info {
  display: inline-block;
  padding: 20px 0;
  vertical-align: middle;
}

.task-card__task-name {
  margin-bottom: 4px;
  font-size: 19px;
  font-weight: 500;
}

.tasc-card__task-description {
  font-size: 15px;
  color: @gray-col;
}

.task-card__buttons {
  float: right;
  display: flex;
  height: 87px;
}

.task-card__task-adjustsments {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.task-card__button {
  margin: 6px 0;
  background: none;
  font-family: "Icon";
  font-size: 17px;
  width: 20px;
  height: 20px;
  color: @task-card-btn;
  border: none;
  cursor: pointer;

  &--to-daily {
    &::after {
      content: '\e904';
    }
  }

  &--edit {
    &::after {
      content: '\e907';
    }
  }

  &:hover,
  &:active,
  &:focus {
    color: @task-card-active-btn;
    outline: none;
  }
}
.task-card__start {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  height: 100%;
  text-align: center;
  background: red;
  width: 87px;
  height: 87px;
  border: none;
  cursor: pointer;

  &::after {
    position: absolute;
    top: 50%;    
    left: 50%;    
    transform: translate(-50%, -50%);    
    content: '\e913';
    color: #fff;
    font-size: 48px;
    font-family: 'Icon';
  }

  &::before {
    position: absolute;
    top: 50%;    
    left: 50%;    
    transform: translate(-50%, -50%);    
    font-family: 'PT Sans';    
    font-weight: 700;
    content: '3';
    font-size: 22px;
    color: #fff;
  }

  &:hover{
    &::after {
      content: "\e90e";
    }

    &::before {
      display: none;
    }
  }
}

.task-list-screen__global-list-toggler {
  border: none;
  background: none;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 20px;
  color: @nepal-col;
  cursor: pointer;

  &::after {
    margin-top: -2px;
    margin-left: 5px;
    font-weight: 300;
    font-size: 10px;
    font-family: "Icon";
    display: inline-block;
    content: "\e909";
  }

  &:hover {
    color: @spray-col;
  }
}
.global-list__tabs-wrapper {
  .clearfix;  
  margin-bottom: 33px;
}

.global-list {
  // overflow: hidden;
}

.task-list--categorized {
  padding-left: 9px;
  position: relative;
  margin-bottom: 20px;

  &-hobby {
    .task-list__decorative-line {
      background-color: @amethyst;
    }
    .task-list__decorative-circle {
      background-color: @amethyst;
    }
  }
  &-work {
    .task-list__decorative-line {
      background-color: @selective-yellow;
    }
    .task-list__decorative-circle {
      background-color:@selective-yellow;
    }
  }
  &-education {
    .task-list__decorative-line {
      background-color: @malibu-col;
    }
    .task-list__decorative-circle {
      background-color: @malibu-col;
    }
  }
  &-sport {
    .task-list__decorative-line {
      background-color: @terra-cotta;
    }
    .task-list__decorative-circle {
      background-color:@terra-cotta;
    }
  }
  &-other {
    .task-list__decorative-line {
      background-color: @dark-turquolse;
    }
    .task-list__decorative-circle {
      background-color: @dark-turquolse;
    }
  }
}

.task-list__decorative-line {
  position: absolute;
  width: 9px;
  height: 100%;
  background-color: red;
  display: block;
  top: 0;
  left: 0;
}

.task-list__decorative-circle {
  position: absolute;
  top: -2px;
  left: -50%;
  width: 17px;
  height: 17px;
  background:red;
  border-radius: 50%;
}

.task-list__decorative-inner-circle {
  position: absolute;
  top: 4px;
  left: 4px;
  
  width: 9px;
  height: 9px;
  border: 2px solid @madison-col;
  border-radius: 50%;

}

.task-list__heading {
  font-family: "Roboto";
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 13px 13px;

} 
.task-list__heading {
  &--hobby {
    color: @amethyst;
  }
  &--work {
    color: @selective-yellow;
  }
  &--education {
    color: @malibu-col;
  }
  &--sport {
    color: @terra-cotta;
  }
  &--other {
    color: @dark-turquolse;
  }
}

.task-card--no-border {
  border: none;
}




// end of task list 