<section class="screen reports-screen">
  <div class="main-container">
    <header class="screen-header">
      <h1 class="screen-heading task-list-screen__screen-heading">Reports</h1>
    </header>

    <div id="reports-render">

    </div>

  </div>
  <section class="screen-arrows">
    <a href="#" class="screen-arrow screen-arrow--left"></a>
  </section>
</section>
